
body {
  margin: 0;
  min-width: 250px;
}
/* header bar */

#header_bar {
  display: flex;

  justify-content: space-between;

  /** background-color: #3c3c3c; */
  background-color: #199383;
  align-items: center;

  padding: 0px;
  margin: 0px;
}

#app_name {
  color:#dcf3f5;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  margin:0px;
  margin-left:15px;
}

.icon {
  padding:0px;
  margin-left:5px;
  margin-right:5px;
  width: 24px;
  color:#dcf3f5;
  top:50%;
  /*-ms-transform: translateY(25%);*/
  transform: translateY(25%);
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-flex-direction: row; 
  flex-direction:  row;
  flex-wrap:  wrap;
}
.flex-item {
  background: rgb(212, 243, 234);
  padding: 0px;
  width: 350px;
  height: 400px;
  margin: 15px;
  line-height: 150px;
  color: darkslategray;
  font-size: 20;
  text-align: center;
  display: inline-block;
}


.expand-btn {
  margin:0px;
  padding:5px;

  width: 200px;
  background: #ffffff;
  color: rgb(26, 101, 97);
  text-align: center;
  font-size: 12px;
  border-radius: 0;
  border: 1;

  position:relative;
  bottom:0px;
}

/* from wschools collapsible */

.collapsible {
  background-color: rgb(75, 116, 112);
  color: white;
  cursor: pointer;
  margin:0px;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}


/*-------------------------------*/


ul li{
display: inline;
}


ul {
  margin: 0;
  padding: 0;
}
/* Style the list items */
/*
ul li {
  color: darkslategrey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
}
*/
/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* Style the divs */
#div_list {
  padding: 30px 40px;
  color: white;
  text-align: center;
  background-color: rgb(122, 164, 162); 
  height: 120px;
}


/* input box for part 3 - dynamic list */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 170px;
  padding: 10px;
  font-size: 16px;
}

/* Style the buttons */
.btn {
  padding: 10px;
  width: 100px;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 16px;
  border-radius: 0;
  border: 0;
}

.btn:hover {
  background-color: #bbb;
}
